<table class='table table-bordered table-hover'>
  <tr>
    <th rowspan='3' style='text-align:center;line-height:100px;'></th>
    <th colspan='6' style='text-align:center' class='warning'><h3>攝食暴露量估計總表:EDI(mg/kg bw/day)</h3></th>
    <tr>
      <th colspan='2' style='text-align:center'>最大允許濃度</th>
      <th colspan='2' style='text-align:center'>使用濃度</th>
    </tr>
  </tr>
  <th>全體族群平均</th>
  <th>高暴露族群</th>
  <th>佔暴露百分比</th>
  <th>全體族群平均</th>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>嬰兒(0-11月)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:baby_percent].round(3) unless @params[:baby_percent].nil? %></h4></td>
  <td><h4><%= @params[:baby_avg].round(3) unless @params[:baby_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>幼兒(12-35月)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:kid_percent].round(3) unless @params[:kid_percent].nil? %></h4></td>
  <td><h4><%= @params[:kid_avg].round(3) unless @params[:kid_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>孩童(3-9歲)</h4></th>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:child_percent].round(3) unless @params[:child_percent].nil? %></h4></td>
  <td><h4><%= @params[:child_avg].round(3) unless @params[:child_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>青少年(10-17歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:teenager_male_percent].round(3) unless @params[:teenager_male_percent].nil? %></h4></td>
  <td><h4><%= @params[:teenager_male_avg].round(3) unless @params[:teenager_male_avg].nil? %></h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4><%= @params[:teenager_female_percent].round(3) unless @params[:teenager_female_percent].nil? %></h4></td>
    <td><h4><%= @params[:teenager_female_avg].round(3) unless @params[:teenager_female_avg].nil? %></h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:teenager_percent].round(3) unless @params[:teenager_percent].nil? %></h4></td>
  <td><h4><%= @params[:teenager_avg].round(3) unless @params[:teenager_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>成年人(18-64歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:adult_male_percent].round(3) unless @params[:adult_male_percent].nil? %></h4></td>
  <td><h4><%= @params[:adult_male_avg].round(3) unless @params[:adult_male_avg].nil? %></h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4><%= @params[:adult_female_percent].round(3) unless @params[:adult_female_percent].nil? %></h4></td>
    <td><h4><%= @params[:adult_female_avg].round(3) unless @params[:adult_female_avg].nil? %></h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:adult_percent].round(3) unless @params[:adult_percent].nil? %></h4></td>
  <td><h4><%= @params[:adult_avg].round(3) unless @params[:adult_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>老年人(65-74歲)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:older_male_percent].round(3) unless @params[:older_male_percent].nil? %></h4></td>
  <td><h4><%= @params[:older_male_avg].round(3) unless @params[:older_male_avg].nil? %></h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4><%= @params[:older_female_percent].round(3) unless @params[:older_female_percent].nil? %></h4></td>
    <td><h4><%= @params[:older_female_avg].round(3) unless @params[:older_female_avg].nil? %></h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:older_percent].round(3) unless @params[:older_percent].nil? %></h4></td>
  <td><h4><%= @params[:older_avg].round(3) unless @params[:older_avg].nil? %></h4></td>
  <tr>
    <th colspan='5' style='text-align:center' class='warning'><h4>高齡老年人(75+)</h4></th>
  </tr>
  <th><h4>男</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:elder_male_percent].round(3) unless @params[:elder_male_percent].nil? %></h4></td>
  <td><h4><%= @params[:elder_male_avg].round(3) unless @params[:elder_male_avg].nil? %></h4></td>
  <tr>
    <th><h4>女</h4></th>
    <td><h4>x</h4></td>
    <td><h4>x</h4></td>
    <td><h4><%= @params[:elder_female_percent].round(3) unless @params[:elder_female_percent].nil? %></h4></td>
    <td><h4><%= @params[:elder_female_avg].round(3) unless @params[:elder_female_avg].nil? %></h4></td>
  </tr>
  <th><h4>全體</h4></th>
  <td><h4>x</h4></td>
  <td><h4>x</h4></td>
  <td><h4><%= @params[:elder_percent].round(3) unless @params[:elder_percent].nil? %></h4></td>
  <td><h4><%= @params[:elder_avg].round(3) unless @params[:elder_avg].nil? %></h4></td>
</table>
